* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #a2bbcf;
}

.App {
  text-align: center;
}

.CalcContainer {
  width: 600px;
  box-shadow: 0px 0px 5px rgba(37, 37, 37, 0.788);
  margin: auto;
  margin-top: 20px;
}

.DispContainer {
  border: 5px solid #a2bbcf;
  padding: 10px;
  background-color: #142f44;
}

.Display {
  text-align: end;
  font-size: 2rem;
}

.ButtonContainer {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #a2bbcf;
}

.ButtonKeys {
  flex: 25%;
  font-size: 2em;
  background-color: #142f44;
  border: 1px solid  #142f44;
}
